 #mobile-display
 {
   display:none
   
 }
 
 #desktop-display
 {
   display:block
   
 }
  
 @media (max-width:800px)
 {
    #desktop-display
    {
      display:none
      
    }
    #mobile-display
    {
      display:block
      
    }
  }
  